<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BACK TO HOME?</title>
    <link rel="stylesheet" href="/css/style.css/"> 
  </head>
  
<body>
    <section class="notFound">
        <div class="img">
        <img src="https://assets.codepen.io/5647096/backToTheHomepage.png" alt="Back to the Homepage"/>
        <img src="https://assets.codepen.io/5647096/Delorean.png" alt="El Delorean, El Doc y Marti McFly"/>
        </div>
        <div class="text">
        <h1>{{.ErrorCode}}</h1>
        <h2>{{.ErrorText}}</h2>
        <h3>BACK TO HOME?</h3>
        <div class="link" >
            <a href="/" class="yes">
                <div class="back">YES</div>
                </a>
            <a href="https://www.youtube.com/watch?v=G3AfIvJBcGo"><div class="back">NO</div></a>    
        </div>
        </div>
    </section>
</body>
